body {
  background-color: lightblue;
  font-family: sans-serif;
  padding: 10px;
}

p {
  font-size: 25px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

h1, h2, p {
  text-align: center;
}

.subtitle {
  font-style: italic;
}

.menu {
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
 
img {
  max-width: 500px;
}
 
.description {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 20%;
  float: left;
}

hr {
  height: 4px;
  background-color: lightblue;
  border-color: lightblue;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Helvetica, serif;
}

.button {
  display: block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.buttonreturn {
  display: block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10;
  padding: 5px;
  width: auto;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

embed {
  height: 600px;
  width: 100%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}